<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Your health in your hands. Follow up with your doctor anytime you like.</h1>
            <hr>
            <p>Don’t hesitate from approaching your doctor and be at peace.</p>
            <ul>
              <li><a href="{{paths.coming_soon_path}}"><img src="../images/home/google-play-badge.png"></a></li>
              <li><a href="{{paths.coming_soon_path}}"><img src="../images/home/app-store-badge.png"></a></li>
            </ul>
        </div>
    </div>
</header>