{% extends "./layouts/default.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block styles %}
	<style type="text/css">
		form {
			width: 30%;
	    margin: 80px auto;
	    border: 1px solid #ccc;
	    
	    border-radius: 4px;
		}
		h3 {
			padding: 0 10px
		}
		.form-wrap {
			padding: 20px 10px 40px;
		}
	</style>
    
{% endblock %}

{% block content %}

    <form method="post" class="change-passwordform">
    	<h3>Change Password</h3>
    	<input type="hidden" class="reset-token" name="doctor[reset_password_token]">
    	<div class="form-wrap">
				<div class="form-group">
					<input class="form-control" id="password" type="password" name="doctor[password]" placeholder="New Password" required>
				</div>
				<div class="form-group">
					<input class="form-control" id="confirm_password" type="password" name="doctor[password_confirmation]" placeholder="Confirm Password" required>
				</div>
				<!-- <input type="submit" value="Change" class="btn btn-default changePasswd"> -->
				<button type="submit" class="btn primary-button done-button text-uppercase">Change</button>
			</div>
		</form>

		<div class="thankyou-section hidden">
			<h4>Your Password has been updated succesfully</h4>
		</div>
{% endblock %}
