{% extends "./layouts/default.html" %}

{% block title %}
    Coming Soon
{% endblock %}

{% block styles %}
    <style>
        .coming-soon-page .banner {
            background-position: center;
            background-image: url('../images/home/header.jpg');
            text-align: center;
            color: white;
            min-height: 360px;
            width: 100%;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
            background-position: center;
        }
        h1 {
            font-size: 42px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="coming-soon-page">
        <section class="banner flex-box flex-column flex-wrap justify-content-center align-items-center">
                <h1 class="title-font"><em>Coming Soon</em></h1>
        </section>
    </div>
{% endblock %}