{% extends "./layouts/default.html" %}

{% block title %}
    Privacy Policy
{% endblock %}

{% block extra_css %}
		<link href="/css/details.css" rel="stylesheet" />
{% endblock %}

{% block content %}
		<div class="container mt50">
			<div class="policy-content">
				<p>We Idyllic Software Private Limited the creators of, DropApp.in value the trust You place in us. That is why we insist upon the highest standards for secure transactions and customer information privacy. Please read the following statement to learn about our information gathering and dissemination practices. Our privacy policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this policy periodically. By visiting this website or downloading the mobile app you agree to be bound by the terms and conditions of this Privacy Policy. If you do not agree please do not use or access our website and/or mobile app. By mere use of the website and mobile app, you expressly consent to our use and disclosure of your personal information in accordance with this privacy policy. This privacy policy is incorporated into and subject to the Terms of Service. If You have any questions or concerns regarding this privacy policy, you can contact us at <a href="mailto:solutions@idyllic.co">solutions@idyllic.co</a>.</p>
				<h5>SCOPE OF POLICY</h5>
				<p>
					This policy applies to https://dropapp.in, hereinafter known as the website and the mobile application DropApp hereinafter referred to as the app. It regulates the processing of information relating to you and grants you various rights in respect of your personal data.
				</p>
				<h5>DEFINITIONS</h5>
				<ol>
					<li>
						‘We’/ ‘Our’/ ‘Us’/‘we’/ ‘our’/ ‘us’ shall mean and refer to the creators of this privacy policy.
					</li>
					<li>
						‘You’/ ‘Your’/ ‘Yourself’/ ‘User’/‘you’/ ‘your’/ ‘yourself’/ ‘user’ shall mean and refer to natural and legal entities that enter and/or use the website and/or app, either to put up content or to view such content that has been put up.
					</li>
					<li>
						‘Personal Information’ shall mean and refer to any personally identifiable information that we may collect from you.
					</li>
					<li>
						‘Third Parties’ refer to any application, website, company or individual apart from the user and the owner of the website and/or app.
					</li>
				</ol>
				<h5>INFORMATION COLLECTED</h5>
				<p>You have to register with your personal information/informations to enjoy the services offered by our app. We collect the following general types of information about you when You visit our Site: personal information, demographic information, behavioural information, and indirect information.  Personal information means any information that may be used to identify an individual. This includes but is not limited to Name, Gender, Mailing Address, Photo, Telephone Number, Email ID and any other information that can be used to identify You. We also collect body vitals including but not limited to height, weight, age, food habits, BMI index, fat percentage, allergies, symptoms, physical and mental or other health conditions or medical records, history and other relevant health traits. We may occasionally ask you to complete optional online surveys. These surveys may ask you for contact information and demographic information (like zip code, age, or income level). We use this data to tailor Your experience at our website and/or app, providing you with content that we think you might be interested in and to display content according to your preferences. Behavioural information is information regarding how you use our site. This includes the areas of our site that you visit, what services you access, and information about your computer hardware and software including your IP address, browser and operating system type, domain names, access times and referring web site addresses. This information is necessary for analysing the use of resources, troubleshooting problems, preventing fraud, and improving our services. Indirect information may be collected by us about You when You use certain third party services on our site and the collection of such information is considered necessary for that purpose. We also use analytic to track you in remarketing. In order to personalise our services to you, we may collect information about you from third party sources that provide it to us.</p>
				<h5>CONSENT TO USE THE INFORMATION</h5>
				<p>By using this website and/or app, you consent to the terms of our privacy policy, to our processing of information for the purposes given in this policy as well as the information on the web and from other third parties.</p>
				<h5>USE OF INFORMATION</h5>
				<p>
				We use the information we gather on the Site for the following purposes:
				</p>
				<h5>Individual User information</h5>
				<ol>
					<li>To provide our services. This includes providing communications, promotions and information on events which may be of interest to you.</li>
					<li>To respond to any queries you may have and to communicate information to you. These include sending you e-mail or other communications regarding updates at the website and/or app to contact you about your opinion of current products and/or services or potential new products and/or services that may be offered. 
					</li>
					<li>
						To operate and improve the website and/or app in order to foster a positive user experience. 
					</li>
					<li>
						To comply with the applicable laws; and
					</li>
					<li>
						To investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of our terms of service, or as otherwise required by law.
					</li>
				</ol>
				<p>At the time of registration, you have to fill in your personal information in order to obtain an account, which can be used subsequently to log into the App.</p>
				<h5>Information about all visitors collectively</h5>
				<p>We gather information about all of our users collectively, such as what areas users visit most frequently and what services users access the most. Such data is used anonymously and in the aggregate. This information helps us determine what is most beneficial for our users, and how we can continually create a better overall experience for them.</p>
				<h5>DISCLOSURE OF THE INFORMATION</h5>
				<p>We disclose the information to the third parties in the method specified below, including, but not limited to:</p>
				<ol>
					<li>
						Disclosing the content posted by you on the website and/or app, in order that viewers may obtain information about present and future events around the world, in addition to availing of the products and/or services provided. 
					</li>
					<li>
						Sharing your information with third parties who help us in the delivery of our own services to you. Information is disclosed to companies and individuals who are authorised by us perform functions on our behalf. 
					</li>
					<li>
						Disclosing such information to third parties if you consent to such disclosure. If you indicate that you would like to receive information about the opportunities, products or services of third parties, we supply Your contact information to select third parties such organisers of or any entity associated with the events, or others for the purpose of sending you e-mail or otherwise communicating with you. 
					</li>
					<li>
						We may share this information with our partners and affiliates, but only in the aggregate, so that they too may understand how visitors use our app, and also create a better overall experience for you. We also share aggregated anonymous information about visitors to the website and/or app with our clients, partners, other website visitors, and other third parties so that they can understand the kinds of visitors and how they use the website in order to serve advertisements and other kinds of marketing information to you on our app. 
					</li>
					<li>
						We may disclose and transfer such information to a third party who acquires our business units, whether such acquisition is by way of merger, consolidation or purchase of all or a substantial portion of our assets. You will be notified of the sale of all or a substantial portion of our business to a third party by email or through a prominent notice posted on the website and/or app. 
					</li>
					<li>
						We disclose information if legally required to, pursuant to an order from a governmental entity or in good faith. We will disclose the information bases to: (a) conform to legal requirements or comply with legal process; (b) protect our rights or property or our affiliated companies; (c) prevent a crime or protect national security; or (d) protect the personal safety of users or the public.
					</li>
					<li>
						In case of medical emergency, if any person intends to threaten to commit suicide or is in a state of medical emergency, the company holds the right to disclose the identity of the patient to the relevant sources.
					</li>
				</ol>
				<h5>EXTERNAL LINKS ON THE APP/WEBSITE</h5>
				<p>The Website and/or App may include advertisements hyperlinks to other websites, applications, content or resources. We have no control over such external links present in the app and/or website, which are provided by persons or companies other than us. You acknowledge and agree that we are not responsible for any collection or disclosure of your personal information by any external sites, applications, companies or persons, nor are do we endorse any advertising, products or other material on or available from such external application, websites or resources. You further acknowledge and agree that we are not liable for any loss or damage which may be incurred by you as a result of the collection and/or disclosure of your personal information by external applications, sites or resources, or as a result of any reliance placed by you on the completeness, accuracy or existence of any advertising, products or other materials on, or available from such applications, websites or resources. These external applications, websites and resource providers may have their own privacy policies governing the collection, storage, retention and disclosure of your personal information that you may be subject to. We recommend that you enter the external application or website and review their privacy policy. We allow third parties/individuals to display advertisements when you use the website and/or app.</p>
				<h5>SECURITY PRECAUTIONS</h5>
				<p>Our app has stringent security measures in place to protect the loss, misuse, and alteration of the information under Our control. Whenever You change or access is in our possession we adhere to strict security guidelines, protecting it against unauthorized access. A "Force Majeure Event" shall mean any event that is beyond the reasonable control and shall include, without limitation, sabotage, fire, flood, explosion, acts of God, civil commotion, strikes or industrial action of any kind, riots, insurrection, war, acts of government, computer hacking, unauthorised access to computer data and storage device, computer crashes, breach of security and encryption, etc.</p>
				<h5>CHOICE/OPT-OUT</h5>
				<p>We provide all users with the opportunity to opt-out of receiving non-essential (promotional, marketing-related) communications from us on behalf of our partners, and from us in general, after setting up an account.</p>
				<h5>CONFIDENTIALITY</h5>
				<p>We do not collect sensitive personal data or information of users like password of your email account, password of your account on the app, biometric information such as finger prints, voice & facial patterns and DNA any other sensitive information which is confidential or sensitive by its nature, without your explicit consent or unless necessary by law. Financial information such as Bank Account details or Credit Card or Debit Card or other payment related details are collected at the payment gateway by the payment facilitator.</p>
				<h5>UPDATE AND REMOVE INFORMATION/ACCOUNT</h5>
				<p>You may have access to, review, correct, update, change or delete your account profile information at any time. Simply log into your account, go to your profile, and make the necessary changes. Before providing you with a copy of your personal information or correcting, updating or deleting such information, We reserve the right to verify and authenticate Your identity and the personal information to which you have requested access. Access to or correction, updating or deletion of Your personal information may be denied or limited by Us if it would violate another person’s rights and/or as otherwise permitted by applicable law.</p>
				<h5>CHANGES TO THIS PRIVACY POLICY</h5>
				<p>We reserve the right to update, change or modify this Policy at any time. The Policy shall come to effect from the date of such update, change or modification. If you continue to use your account and/or access the app even after any such changes have been made, it would be deemed to be an implied consent to the changed policy.</p>
				<h5>COOKIES AND OTHER TRACKING TECHNOLOGIES</h5>
				<p>Our Website and/or App and some of our web pages utilize ‘cookies’ and other tracking technologies. A "cookie" is a small text file that may be used, for example, to collect information about site activity. Some cookies and other technologies may serve to recall personal information previously indicated by a web user. Most browsers allow you to control cookies, including whether or not to accept them and how to remove them. You may set most browsers to notify you if you receive a cookie, or you may choose to block cookies with your browser, but please note that if you choose to erase or block your cookies, you will need to re-enter Your original user ID and password to gain access to certain parts of the Website and/or App.  Tracking technologies may record information such as Internet domain and host names; Internet protocol (IP) addresses; browser software and operating system types; stream patterns; and dates and times that our app is accessed. Our use of cookies and other tracking technologies allows Us to improve our Website/App and your experience. We may also analyze information that does not contain personal information for trends and statistics.</p>
				<h5>DISCLAIMER</h5>
				<p>We cannot ensure that all of your private communications and other personal information will never be disclosed in ways not otherwise described in this privacy policy. Therefore, although we are committed to protecting your privacy, we do not promise, and you should not expect, that your personal information or private communications will always remain private. As a user of the App, you understand and agree that you assume all responsibility and risk for your use of the app, the internet generally, and the documents you post or access and for your conduct on and off the website and/or app.</p>
				<h5>INDEMNITY</h5>
				<p>You agree and undertake to indemnify Us against in any suit or dispute by any third party arising out of disclosure of personal information by you to third parties either through our app or otherwise and your use and access of websites, applications and resources of third parties. We assume no liability for any actions of third parties with regard to your personal information, which you may have disclosed to such third parties.</p>
				<h5>SEVERABILITY</h5>
				<p>Each paragraph of this privacy policy shall be and remain separate from and independent of and severable from all and any other paragraphs herein except where otherwise expressly indicated or indicated by the context of the agreement. The decision or declaration that one or more of the paragraphs are null and void shall have no effect on the remaining paragraphs of this privacy policy.</p>
				<h5>CONTACT INFORMATION</h5>
				<p>Any feedback or comments about this privacy policy is welcome and can be sent at <a href="mailto:solutions@idyllic.co">solutions@idyllic.co</a>. We will employ all commercially reasonable efforts to address the same.</p>
				<h5>GRIEVANCE OFFICER</h5>
				<p>In accordance with Information Technology Act 2000 and rules made there under, the name and contact details of the Grievance Officer are provided below: </p>
				<p>Jinesh Parekh </br>
					<a href="tel:+9122-25159707">+91 22-25159707</a> </br>
					<a href="mailto:solutions@idyllic.co">solutions@idyllic.co</a></p>
			</div>
		</div>

{% endblock %}
