<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Ruby on Rails consulting{% endblock %}</title>

        <meta name="description" content="" />

        <meta name="keywords" content="" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

        <link rel="shortcut icon" type="image/ico" href="" />

        <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400" rel="stylesheet">

        <script src="https://use.typekit.net/zsc2aeh.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

        <link href="/css/style.css" rel="stylesheet">

        {% block styles %}{% endblock %}

        {% block extra_css %}{% endblock %}

    </head>

    <body class="main-wrap {{page.body_cls}}">
        
        {% include "includes/menu.html" %}
        {% if page.page_type == "home" %}
            {% include "../includes/header.html" %}
        {% endif %}
        <div class="content-wrap">
            {% block content %}
            {% endblock %}
        </div>



        {% include "../includes/footer.html" %}

        <script src="/js/vendor.js"></script>
        <script src="/js/main.js"></script>
        {% block extra_js %}{% endblock %}
        <script>
            // <![CDATA[
                    var drop = new Drop();
                    drop.init({
                        page_type: "{{ page.page_type }}",
                        baseUrl: "{{ page.js_data.baseUrl }}",
                        apiKey: "{{ page.js_data.apiKey }}"
                    });
            // ]]>
        </script>

        {% if is_production %}
            <script>
                if (window.performance) {
                    var timeSincePageLoad = Math.round(performance.now());
                    ga('send', 'timing', 'JS Dependencies', 'load', timeSincePageLoad);
                }
            </script>
            <script type="text/javascript">
                piAId = '308691';
                piCId = '1925';

                (function() {
                    function async_load(){
                        var s = document.createElement('script'); s.type = 'text/javascript';
                        s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
                        var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
                    }
                    if(window.attachEvent) { window.attachEvent('onload', async_load); }
                    else { window.addEventListener('load', async_load, false); }
            })();
            </script>
        {% endif %}

    </body>
</html>
