@import "includes/variables";
@import "includes/mixins";

.footer-section-wrap {
	padding: 20px 0;
	ul {
		display: flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    li {
	    padding: 0 20px;
    }
	}
}
