$studio-orange-color: #ee6321;
$studio-sky-blue-color: #00dcf0;
$studio-yellow-color: #fffc00;
$studio-dark-black-color: #293035;
$studio-light-black-color: #657682;
$studio-light-gray-color: #d9e0e6;
$studio-sky-blue-dark-color: #0099bb;
$studio-blue-dark-color: #21262a;
$studio-hover-color: #ff7533;
$white-color: #ffffff;
$stories-title-color: #00dcf0;
$studio-full-black-color: #000;

$device-iphone-xs: 20rem;
$device-xs: 30rem;
$device-sm: 48rem;
$device-md: 62rem;
$device-lg: 87.5rem;


// Gray and Brand Colors for use across theme

$theme-primary: #F05F40;
$gray-base: #000;
$gray-darker: lighten($gray-base, 13.5%); // #222
$gray-dark: lighten($gray-base, 20%);   // #333
$gray: lighten($gray-base, 33.5%); // #555
$gray-light: lighten($gray-base, 46.7%); // #777
$gray-lighter: lighten($gray-base, 93.5%); // #eee
